<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
     <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <link rel="stylesheet" href="assets/css/main.css">
</head>
<body ng-app="order" ng-controller="orderCtrl">
        
	<!-- <sum firstno="10" secondno="20"></sum>  -->
    <div class="">
        <div class="col-xs-4 cart fullHeight">
            <h2 class="header text-center">Cart</h2>
        <div class="cart_box">
        
        
        <div class="cart_item" ng-repeat="x in cartList">
           <div class="cart_header">
               <h4 style="width:75%;">{{x.item}}</h4>
               <div class="pull-right cart_buttons"><button ng-click="cutomise($index)" class="btn btn-info"><i class="fa fa-edit"></i></button> <button ng-click="removeFromCart($index);" class="btn btn-danger"><i class="fa fa-times"></i></button></div>
           </div>
           <div class="cart_body">
               <p>Dip : dummy , Pan : full , etc : etc</p>
           </div> 
        </div>
         </div>
        <button class="order_button btn btn-lg text-Center btn-flat" ng-click="placeOrder();">Order</button>
        </div>
        
        
        <div class="items fullHeight" ng-class="{'col-xs-8':!customMenuOpen,'col-xs-5':customMenuOpen}">
            <h2 class="header" style="padding-left:15px;color:white;"> items</h2>
            <div class="row categories">
            <ul class="nav navbar-nav" ng-init="getCategoryList();">
                     <li><a href="javascript:void(0);" class="active" ng-click="loadCategory('pizza');" ng-init="loadCatgory('pizza');">Veg Pizza</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('drink');">Drinks</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Meal </a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Sweets</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Mohito</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Dummy</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Sweets</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Mohito</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Dummy</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Mohito</a></li>
                 <li><a href="javascript:void(0);" ng-click="loadCategory('meal');">Dummy</a></li>
<!--                <li><a href="javascript:void(0);" class="active" ng-init ng-click="loadCategory(x.slug);" ng-if="$first" title="{{x.description}}">{{x.title}}</a></li>-->
<!--               <li ng-repeat="x in categoryList"><a href="javascript:void(0);" ng-click="loadCategory(x.slug);" ng-if="!$first" title="{{x.description}}">{{x.title}}</a></li>-->
            
            </ul>
            </div>
            <div ng-repeat="x in CurrentCategory" class="row">
                <input type="checkbox" class="" id="{{x.item+$index}}" ng-click="addToCart(x.item+$index,$index,true)">
                <label for="{{x.item+$index}}" class="item_row">
                <div class="pull-left name">{{x.item}}</div>
                <div class="pull-right"><button class="add_btn btn" ng-click="addToCart(x.item+$index,$index,false);">Add</button><button ng-click="cutomise($index);" class=" btn btn-info"><i class="fa fa-edit"></i></button></div>
                
                </label>
            </div>
             
        </div>
        
        <div class="col-xs-3 custom fullHeight" ng-show="customMenuOpen">
            <span class="pull-left close" ng-click="toggleCustomisationMenu();"><i class="fa fa-times"></i></span> 
            <h2 class="text-center header">Customization</h2>
            <div class="row price_block">
            <div class="col-xs-5 text-right"><h3>Price</h3></div>
            <div class="col-xs-2 text-center"><h3> : </h3></div>
            <div class="col-xs-5 text-left price"><h3><i class="fa fa-inr"></i> <span ng-modal="price"> 4485</span></h3></div>
            </div>
            <hr>
            <div class="row text-center quantity_manager">
                <span class="quantity_button" ng-click="decQuantity();"><i class="fa fa-minus"></i></span>
                <input type="number" ng-model="quantity" min="0" max="100" value="1">
                <span class="quantity_button" ng-click="incQuantity();"><i class="fa fa-plus"></i></span>
            </div>
               <hr>
               <div class="custom_div">
                <div class="custom_row" ng-repeat="(key,value) in currentItemCustomisation.customization">
                <h4>Select your {{key}}</h4>
                <select name="{{key}}" id="" class="form-control">
                    <option value="" ng-repeat="options in value">{{options}}</option>
                </select>
                </div>
            </div>
            
        </div>
    
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
    <script src="assets/js/app.js"></script>
    <script src="assets/js/controller.js"></script>
    <script src="assets/js/model.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"></script>
</body>
</html>   