        .table_area{
            text-align: center;
        }
        .tables{
            display: inline-block;
            margin:21px;
        }
        .table_btn{
            width: auto;
            height: auto;
            border: 1px solid #555;
            padding: 10px;          
        }

        input[type="radio"]{
            visibility: hidden;
           display: none;
        }

        .tables label{
            min-height:40px;
            min-width:45px;
            padding: 5px;
            cursor: pointer;
            position: relative;
            background-color: #999;
            border: 2px solid #666;
            line-height:35px;
        }

        .tables label:after,.tables label:before{
        	content:'';
            display: inline-block;
            position:absolute;
            border:2px solid #444;
            height:100%;
            top:-7px;
        }
   
    .tables label:after{
        border-left-width:0;
        padding: 27px 3px 28px 3px;
        right:-11px;
    }
    
    .tables label:before{
        border-right-width: 0;
        padding:27px 3px 28px 3px;
        left:-11px;
    }
        .tables input[type=radio]:checked + label{
            opacity: 1;
            transform: scale(1.2);
            color:#fff;
            background: #43a047      ;
    }







body {
    user-select: none;
}

.categories .nav>li>a,
.custom_div h4,
.header,
.item_row .name,
select option {
    text-transform: capitalize
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px
}

.header {
    margin: 0 -15px;
    padding: 10px 0;
    overflow: hidden;
    background: #4285F4;
    background: rgb(255,110,10);
    color: #fff
}

.order_button,.header,.btn-primary{
    background:rgb(255,110,10) !important;
}
.cart {
    border-right: 1px solid rgba(0, 0, 0, .9);
    position: relative;
    padding:0px 5px;
    background-color: #eee
}

.order_button,
.order_button:focus,
.order_button:hover {
    display: block;
    bottom: 0;
    width: 100%;
    left: 0;
    position: absolute;
    border-radius: 0;
    background-color: #0388ca;
    color: #fff
}
.custom {
    border-left: 1px solid rgba(0, 0, 0, .14);
    transition: all 1s ease-in;
    background: #FFF0B4;
}

.items .header{
    padding-bottom: 0px;
}

.close {
    color: #000;
    opacity: 1;
    font-size: 25px;
    border-radius: 20px;
    height: 28px;
    background-color: #fff;
    width: 28px;
    margin-top: 5px;
    margin-left: -10px
}
.cart_box,.item_box{
    overflow-y: auto;
    overflow-x:hidden;
    padding-right: 5px;
}
.close .fa {
    padding-left: 4px
}

.items{
/*    padding-right:0px;*/
}
.items div.row {
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc
}

.item_row {
    display: block;
    padding: 10px 15px
}

.item_row .name{
    width:calc(100% - 185px);
}

.item_row button {
    margin: 0 5px;
    min-width: 40px
}

input[type=checkbox] {
    display: none
}

.add_btn {
    background: 0 0;
    border: 1px solid #FF6868;
    border-radius: 2px;
    padding: 0
}

.add_btn span {
    background: #FF6868;
    color: #fff;
    font-size: 15px;
    padding: 6px 12px 7px
}

.add_btn .btn {
    color: #FF6868;
    background: #fff
}

.quantity_row {
    border-radius: 2px;
    display: inline-block;
    border: 1px solid green
}

.quantity_row span {
    color: #fff;
    background: green
}

.quantity_row .btn {
    border-radius: 0
}

.quantity_row input {
    border: none;
    width: 30px
}

.categories {
    border-bottom: 1px solid #ccc;
}

.categories .nav {
    padding: 4px 5px;
    background: #F7F7F7
}

.categories .nav>li>a {
    color: rgba(0, 0, 0, .54);
    background: #F7F7F7;
    margin: 0 2px;
    border-right: 1px solid #ccc;
}

.categories .nav>li>a.active,
.categories .nav>li>a:hover {
    color: #fff;
    background: #37424B
}

.form-control {
    font-size: 18px;
    height: 40px
}

select:focus {
    border-color: #FF6868!important;
    outline-color: #FF6868;
    border-width: 1.5px;
    box-shadow: none!important
}

.price,
option:checked,
select{
    color: #FF6868
}

.select:focus {
    border-color: #FF6868
}

.cart_item {
    border-radius: 4px;
    margin: 10px 0;
    padding: 5px 0 5px 5px;
    background-color: #fff
}

.cart_header {
    padding:5px 0;
    border-bottom: 1px solid #ccc
}

.cart_header h4 {
    display: inline-block;
    margin:5px 0;
    color:#039be5;
    width: calc(100% - 90px);
    padding-bottom:2px
}

.quantity_manager input {
    width: 40px
}

.quantity_button {
    height: 30px;
    border-radius: 20px;
    width: 30px;
    display: inline-block;
    color: #fff;
    background-color: #FF6868;
    margin: 5px 10px
}

.quantity_button .fa {
    margin-top: 8px
}

.cart_body p {
    font-size: 14px;
    margin-bottom: 5px;
}

div.row.categories {
    border-color: #000;
    border-width: 2px
}

.custom hr {
    margin: 10px 10px 5px;
    border-bottom: 1px solid #000
}

.custom_div {
    margin-top: 40px
}

.custom_div h4 {
    font-weight: 900
}

.price_block div {
    padding: 0
}

.modal .close {
    border-radius: 2px 0px 0px 2px;
    border-right-width: 0px;
    width: 10%;
    box-shadow: none;
    color: blue;
}

.modal .modal-header input {
    width: 90%;
    border-left-width: 0px;
    border: none;
}

[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.items preloader {
    font-size: 50px;
}

.items .categories preloader {
    font-size: 36px;
}

.nav>li>a {
    font-weight: bold;
}

.categories{
    width: 230px;
    float: left;
    overflow:auto;
}
.item_box{
    float: right;
    width: calc(100% - 230px);
}
.categories .nav>li>a {
            border: 1px solid #ccc;
            margin:2px;
}
html input[disabled] {
        cursor: default;
        background: white;
        }
        .custom_unit{
            font-size: 15px;
        }
        .custom_row.row{
            margin: 0px 0px 10px;
        }