body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
.header{
    margin:0px -15px;
    padding:10px 0px;
    background: #039be5;
    background: #4285F4;
    color: white;
    text-transform: capitalize;
}
.cart{
 border-right:1px solid rgba(0,0,0,0.14);
 position: relative;
    background-color: #eee;
}

.order_button,.order_button:hover,.order_button:focus{
    display: block;
    bottom: 0px;
    width: 100%;
    left: 0px;
    position: absolute;
    border-radius: 0px;
    background-color:#0388ca;
    color: white;
}
.custom{
    border-left:1px solid rgba(0,0,0,0.14);
    transition:all 1s ease-in;
    background: #FFF0B4;
}

.close{
    color:black;
    opacity:1;
    font-size: 25px;
    border-radius: 20px;
    height: 28px;
    background-color: white;
    width: 28px;
    margin-top:5px;
    margin-left:-10px;
}
.close .fa{
    padding-left: 4px;
}
.fullHeight{
    overflow-y: auto;
}

.items div.row{
    padding-bottom: 2px;
    border-bottom: 1px solid #ccc;
}
.item_row{
  display: block;
  padding:10px 15px;
}

.item_row .name{
    width: 75%;
}
.item_row button{
    margin:0px 5px;
    min-width:40px;
}
input[type=checkbox]{display: none;}

input[type=checkbox]:checked+label .add_btn{
    background-color: #FF6868;
/*    background-color:#5cb85c;*/
    color: white;
}

.categories{
    max-height:60px;
    overflow: auto;
    background: #F7F7F7;
    border-bottom:1px solid #ccc;
}
.categories .nav{
    padding:4px 5px ;
    background: #F7F7F7;
}
.categories .nav>li>a{
    color:rgba(0,0,0,0.54);
    background: #F7F7F7;
    margin: 0px 2px;
}
.categories .nav>li>a.active,.categories .nav>li>a:hover{
    color:white;
    background: #37424B;
}

.form-control{
    font-size: 18px;
    height: 40px;
}
select:focus{
 border-color:#FF6868 !important;
outline-color: #FF6868;
    border-width: 1.5px;
    box-shadow: none !important;
}
select,option:checked,.price{
    color:#FF6868;
}
.select:focus{
    border-color:#FF6868;
}

.cart_item{
    border-radius:4px;
    margin:10px;
    padding:5px 10px;
    background-color: white;
}
.cart_header{
    padding: 5px 0px;
    border-bottom:1px solid #ccc;
}
.cart_header h4{
    display: inline-block;
    margin:5px 0px;
    color:#039be5;
    padding-bottom:2px;
}

.cart_body p{
    font-size: 16px;
}
.quantity_manager input{
    width:40px;
}
.quantity_button{
    height:30px;
    border-radius: 20px;
    width:30px;
    display: inline-block;
    color: white;
    background-color: #FF6868;
    margin:5px 10px;
 }
.quantity_button .fa{
    margin-top:8px; 
}
div.row.categories{
    border-color: black;
    border-width:2px;
}
.custom hr{
    margin: 10px 10px 5px;
    border-bottom: 1px solid black
}
.custom_div{
    margin-top:40px;
}
.custom_div h4{
    font-weight: 900;
    text-transform: capitalize;
    
}
.price_block div{
    padding: 0px;
}